################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/oCalc/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/oCalc/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/oCalc/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/oCalc/obj/Debug/oCalc.pdb
/oCalc/obj/Debug/oCalc.exe
/oCalc/obj/Debug/oCalc.csprojAssemblyReference.cache
/oCalc/obj/Debug/oCalc.csproj.FileListAbsolute.txt
/oCalc/obj/Debug/oCalc.csproj.CoreCompileInputs.cache
/oCalc/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/oCalc/bin/Debug/oCalc.pdb
/oCalc/bin/Debug/oCalc.exe.config
/oCalc/bin/Debug/oCalc.exe
